@using System.Text.Json
<section  id="about" class="pt-15" >
    

    <MudCard   Class="rounded-lg"> 
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Color="Color.Dark" Align="Align.Center" Typo="Typo.h4">About Me</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent Class="pa-14">
            <MudGrid >
                <MudItem xs="12" sm="6">
                    <TimeLine/>
                </MudItem>
                <MudItem xs="12" sm="6">
                    
                    <MudText Color="Color.Dark">
                        @aboutme?.Description
                    </MudText>
                </MudItem>
            </MudGrid>

        </MudCardContent>

    </MudCard>

</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private AboutMe? aboutme = new AboutMe();
    private HeroImage? hero = new HeroImage();

    protected override async Task OnInitializedAsync()
    {
        aboutme = await Http.GetFromJsonAsync<AboutMe>("sample-data/aboutme.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "about");

        
    }
}
