@page "/portfolio"
@inject HttpClient Http
@inject HeroImageService HeroImageService

<section id="portfolio" class="pt-15">
    <MudText Class="mb-5 text"  Typo="Typo.h4" Color="Color.Secondary">Projects</MudText>
    <MudDivider Class="mb-5" DividerType="DividerType.FullWidth"/>
    <Projects ProjectList="projects"/>
</section>

@code {
  
     
    private List<Project>? projects = new ();
    
    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<List<Project>>("sample-data/projects.json");
    }
}
