@using System.Text.Json
<section  id="about" class="pt-12" >
    
     <MudText Class="mb-5" Color="Color.Secondary" Align="Align.Start" Typo="Typo.h4">About Me</MudText>
        <MudDivider Class="mb-5" DividerType="DividerType.FullWidth"/>

    <MudCard   Class="rounded-lg"> 

        <MudCardContent Class="pa-14">
            <MudGrid >
                <MudItem xs="12" sm="6">
                    <TimeLine/>
                </MudItem>
                <MudItem xs="12" sm="6">
                    
                    <MudText Color="Color.Dark">
                        @aboutme?.Description
                    </MudText>
                </MudItem>
            </MudGrid>

        </MudCardContent>

    </MudCard>

</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private AboutMe? aboutme = new AboutMe();
    private HeroImage? hero = new HeroImage();

    protected override async Task OnInitializedAsync()
    {
        aboutme = await Http.GetFromJsonAsync<AboutMe>("sample-data/aboutme.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "about");

        
    }
}
