<section id="contact" class="pt-12">
    <MudText Class="mb-5" Color="Color.Secondary" Align="Align.Start" Typo="Typo.h4">Let's Get In Touch!</MudText>
    <MudDivider Class="mb-5" DividerType="DividerType.FullWidth"/>
    <ContactForm/>
</section>

@code {

}