@inject IGithubService GithubService

<section id="portfolio" class="pt-12" >
    <MudText Class="mb-5 text" Typo="Typo.h4" Color="Color.Secondary">Projects</MudText>
    <MudDivider Class="mb-5" DividerType="DividerType.FullWidth"/>
    <Projects Repositories="Repos"/>
</section>

@code {

    private List<Repository> Repos = new();

    protected override async Task OnInitializedAsync ()
    {
        Repos = await GithubService.GetPublicRepositories(); 
    }

}