<MudNavMenu>
    <div>
        <MudNavLink ActiveClass="activeLink" Href="/Yenebeb.Portfolio/" Match="NavLinkMatch.All" >Home</MudNavLink> 
        <MudNavLink ActiveClass="activeLink" href="portfolio" >Portfolio</MudNavLink>
        <MudNavLink ActiveClass="activeLink" href="contact" >Contact</MudNavLink>
    </div>

</MudNavMenu>
 
@code {

}