<MudNavMenu>
    <div>
        <MudNavLink ActiveClass="activeLink" href="#home" target="_top" Match="NavLinkMatch.All">Home</MudNavLink>
        <MudNavLink ActiveClass="activeLink" href="#about" target="_top" >About Me</MudNavLink>
        <MudNavLink ActiveClass="activeLink" href="#portfolio" target="_top">Portfolio</MudNavLink>
        <MudNavLink ActiveClass="activeLink" href="#contact" target="_top">Contact</MudNavLink>
    </div>

</MudNavMenu>

@code {

}